<form [formGroup]="myForm" (ngSubmit)="guardar()">
    <div>
        
            <label>Nombre</label>
            <input input type="text" formControlName="name" >
        
        <div *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
            <p *ngIf="myForm.get('name').hasError('required')">El campo es obligatorio</p>
            
        </div>
    </div>
    <div>
        <label>SKU</label>
            <input input type="text" formControlName="sku" >
    
        <div *ngIf="myForm.get('sku').errors && myForm.get('sku').dirty">
            <p *ngIf="myForm.get('sku').hasError('required')">El campo es obligatorio</p>
            
        </div>
    </div>
    <div>
        <label>Descripcion</label>
        <input input type="text" formControlName="descripcion" >

        <div *ngIf="myForm.get('description').errors && myForm.get('description').dirty">
            <p *ngIf="myForm.get('description').hasError('required')">El campo es obligatorio</p>
            
        </div>
    </div>
    <div>
        <label>Precio</label>
            <input input type="text" formControlName="precio" >
     
        <div *ngIf="myForm.get('price').errors && myForm.get('price').dirty">
            <p *ngIf="myForm.get('price').hasError('required')">El campo es obligatorio</p>
            
        </div>
    </div>
    <div>
        <label>Cantidad</label>
            <input input type="text" formControlName="cantidad" >
             <div *ngIf="myForm.get('quantity').errors && myForm.get('quantity').dirty">
            <p *ngIf="myForm.get('quantity').hasError('required')">El campo es obligatorio</p>
            
        </div>
    </div>
    <div>
        
            <label>Categoria</label>
            <select *ngIf="categorias.length>0" matNativeControl required formControlName="category">
                <option *ngFor="let categoria of categorias" value="{{categoria._id}}">{{categoria.name}}</option>
            </select>

          <div *ngIf="myForm.get('category').errors && myForm.get('category').dirty">
            <p *ngIf="myForm.get('category').hasError('required')">El campo es obligatorio</p>
            
        </div>
        
    </div>
    
    
    <div formArrayName="tags"
        *ngFor="let tag of myForm.get('tags')['controls']; let i = index;">
        <div [formGroupName]="i">
            <input formControlName="name" placeholder="Tag" >
        </div>

        Tag: {{ myForm.controls.tags.controls[i].controls.name.value }}
    </div>
    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

    <button mat-raised-button type="submit" color="primary" >Guardar</button>
</form>
<!--<form [formGroup]="myForm" (ngSubmit)="registro()">
    <div>
        <label for="">Nombre</label>
        <input type="text" formControlName="name">
    </div>
    <div *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
        <p *ngIf="myForm.get('name').hasError('required')">El campo es obligatorio</p>
        
    </div>
    <div>
        <label for="">Email</label>
        <input type="email" formControlName="email" [ngClass]="{error:myForm.get('email').errors && myForm.get('email').dirty,warning:myForm.get('email').hasError('minlength')}">
    </div>
    <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
        <p *ngIf="myForm.get('email').hasError('required')">El campo es obligatorio</p>
        <p *ngIf="myForm.get('email').hasError('minlength')">Debe escribir al menos 3 caracteres</p>
        
    </div>
    <div>
        <label for="">Contraseña</label>
        <input type="password" formControlName="password">
    </div>
    <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
        <p *ngIf="myForm.get('password').hasError('required')">El campo es obligatorio</p>
        
    </div>
    <input type="submit" value="Registrarse" [disabled]="myForm.invalid">
</form>
-->