<form [formGroup]="myForm" (ngSubmit)="login()">
    
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" [ngClass]="{error:myForm.get('email').errors && myForm.get('email').dirty,warning:myForm.get('email').hasError('minlength')}">
    </mat-form-field>    
    <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
        <p *ngIf="myForm.get('email').hasError('required')">El campo es obligatorio</p>
        <p *ngIf="myForm.get('email').hasError('minlength')">Debe escribir al menos 3 caracteres</p>
        
    </div>
    
    <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" >
    </mat-form-field>
    <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
        <p *ngIf="myForm.get('password').hasErsror('required')">El campo es obligatorio</p>
        
    </div>
    <button mat-raised-button type="submit" color="primary" [disabled]="myForm.invalid">Ingresar</button>
  
</form>


