
<button *ngIf="isLogin" mat-button routerLink="/">Inicio</button>
<button *ngIf="isLogin" mat-button routerLink="/contacto">Contacto</button>
<button *ngIf="!isLogin" mat-button routerLink="/login">Login</button>
<button *ngIf="!isLogin" mat-button routerLink="/registro" >Registro</button>
<button *ngIf="isLogin" mat-button (click)="logout()">Salir</button>
<button mat-button [matMenuTriggerFor]="menu">Productos</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/producto/new">Alta</button>
  <button mat-menu-item routerLink="/productos">Listado</button>
</mat-menu>